<% content_for :title do %>
  New Evaluation
<% end %>

<div class="page-header">
  <h1>New Evaluation</h1>
  <%= link_to evaluations_path, class: 'btn btn-outline-secondary' do %>
    <%= icon 'fas', 'bars' %>
    Voltar
  <% end %>
</div>

<%= render 'form' %>
